<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClmSw1vOd8ixv5MQm1C_fMoq6LzfUHZ4s</string>
	<key>GCM_SENDER_ID</key>
	<string>497717625618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.school</string>
	<key>PROJECT_ID</key>
	<string>codecrusaders-9c648</string>
	<key>STORAGE_BUCKET</key>
	<string>codecrusaders-9c648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497717625618:ios:c3af12ee541d91c57b29cb</string>
	<key>DATABASE_URL</key>
	<string>https://codecrusaders-9c648-default-rtdb.firebaseio.com</string>
</dict>
</plist>